.button {
	position: relative;
	background-color: transparent;
	border: none;
	outline: none;
	transition: 0.3s;
	&.active ::after {
		position: absolute;
		content: '';
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 2px;
		width: 100%;
		background-color: orange;
	}
}
