@import '../../../styles/utils/variables';
.section {
	margin: 10rem auto 6rem;
	width: 90%;
	max-width: 1000px;
	@media (min-width: $large-view) {
		margin: 10rem auto 6rem;
	}

	.subtitle {
		margin: 2rem 0;
	}
}
