.leftContainer {
	padding: 20px;
	width: 100%;
	background-color: #000;
	color: white;
	text-align: right;
	border-top-left-radius: 100px;
	@media (min-width: 600px) {
		width: 300px;
	}
}

.rightContainer {
	padding: 20px;
	@media (min-width: 600px) {
		width: 50%;
	}
}
