@import './utils/variables', './utils/typogaphy';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $light-color;
}

button {
	font-size: 0.875rem;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 500;
	line-height: 1.75;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

.anime-enter {
	transform: scale(0);
	opacity: 0;
}

.anime-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: 0.3s 0.3s;
}

.anime-exit {
	opacity: 1;
	transform: scale(1);
}
.anime-exit-active {
	opacity: 0;
	transform: scale(0);

	transition: 0.3s;
}
