@import './utils/variables';
.bioImageWrapper {
	max-height: 300px;
	width: 100%;
	max-width: 800px;
	overflow: hidden;
	margin: 2rem 0;
	box-shadow: $shadow;
	img {
		filter: grayscale(0.6);
	}
}

.contact {
	margin-top: auto;
	display: flex;
	flex-direction: column;

	@media (min-width: $desktop-view) {
		flex-direction: row;
		justify-content: space-around;
	}

	.contactText {
		@media (min-width: $desktop-view) {
			padding-right: 2rem;
		}
	}
}
