.description {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

.leftContainer {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	@media (min-width: 600px) {
		display: flex;
		align-items: flex-end;
		padding-left: 50px;
		text-align: left;
		border-bottom: 1px solid;
	}

	.headings {
		@media (min-width: 600px) {
			display: flex;
			align-items: flex-end;
			h2 {
				font-weight: 300;
				font-size: 1.3em;
				margin: 0 0 0 10px;
			}
		}
	}
}

.rightContainer {
	box-sizing: border-box;
	text-align: center;
	padding: 20px 20px 50px;
	margin: 0 auto;
	color: #757575;
	@media (min-width: 600px) {
		padding-left: 50px;
		text-align: left;
	}
}
