@import '../../styles/utils/variables';

.Header {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2rem 3rem;
	top: 0;
	left: -150%;
	width: 100%;
	height: 100vh;
	color: $light-color;
	background-color: $dark-color;
	transition: left 0.3s ease-out;
	@media (min-width: 960px) {
		left: 0;
		width: $header-width;
	}
}

.pageTitle {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.show {
	left: 0;
}
