@import '../styles/utils/variables';

.wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	// min-height: 100vh;
}
.Layout {
	padding: 1rem;
	width: 100%;
	@media (min-width: $large-view) {
		margin-left: $header-width;
		padding: 3rem;
	}
}

.Toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: beige;
}
