.Layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

.Content {
	width: 90%;
	box-sizing: border-box;
}

@media (min-width: 600px) {
	.Content {
		max-width: 1200px;
		border-radius: 4px;
		padding: 20px;
	}
}
