@import '../../styles/utils/variables';

.columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 1rem;
	background-color: #fff;
	box-shadow: $shadow;
	// border-radius: 2px;
	& .article {
		display: block;
		position: relative;
		width: 100%;
		box-shadow: $shadow !important;

		margin: 0.5rem;
		& img {
			width: 100% !important;
			height: auto !important;
			min-width: unset !important;
			min-height: unset !important;
			max-height: unset !important;
			@media (min-width: $medium-view) {
				height: 350px !important;
				width: auto !important;
			}
		}

		&.homepageImage img {
			@media (min-width: $medium-view) {
				height: $homepageImageHeight !important;
				width: auto !important;
			}
		}

		& > div {
			position: relative !important;
		}

		& > div > img {
			position: relative !important;
		}

		@media (min-width: $medium-view) {
			max-height: 350px;
			width: auto;
			&.homepageImage {
				max-height: $homepageImageHeight;
			}
		}
	}
}

.image {
	object-fit: cover;
	object-position: center;
}
