@import '../../styles/utils/variables';

.columns {
	margin: 0 auto;
	max-width: 900px;
	columns: 1;
	column-fill: balance;
	column-rule: 1px solid #ddd;
	column-gap: 50px;
	& .article {
		display: inline-block;
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 1px solid #ddd;
	}

	@media (min-width: $medium-view) {
		columns: 2;
	}
	@media (min-width: $desktop-view) {
		columns: 3;
	}
}

.image {
	width: 100%;
	object-fit: cover;
	display: inline-block;
	box-shadow: $shadow;
	max-width: 100%;
	vertical-align: middle;
}
