@import '../../../styles/utils/variables';

.columns {
	position: relative;
	columns: 1;
	column-gap: 0;

	margin: 0 0 2rem;
	padding: 1rem 0 3rem;
	width: 90%;
	max-width: 1000px;

	@media (min-width: $medium-view) {
		columns: 2;
	}
	@media (min-width: $desktop-view) {
		columns: 3;
		width: auto;
	}

	& .article {
		position: relative;
		width: 100%;
		overflow: hidden;
		cursor: pointer;
		& .imageOverlay {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			width: 101%;
			height: 101%;
			background-color: rgba(255, 255, 255, 0.85);
			opacity: 0;
			transition: opacity 0.2s;
			visibility: hidden;
			overflow: hidden;
		}

		& .innerText {
			text-align: center;
			opacity: 0;
			visibility: hidden;
			transform: translateY(20px);
			transition: transform 0.3s ease-in-out, opacity 0.2s 0.1s;
		}

		&:hover .imageOverlay {
			visibility: visible;
			opacity: 1;
		}

		&:hover .innerText {
			visibility: visible;
			opacity: 1;
			transform: translateY(0px);
		}
	}
}
