@import '../../../styles/utils/variables';
.formWrapper {
	margin-top: 3rem;
	padding: 1rem;
	@media (min-width: $desktop-view) {
		margin: 0;
		padding: 0 1rem;
	}
}
.form {
	> div {
		margin-top: 1rem;
	}
	& > div:first-child {
		margin-top: 0;
	}

	> button {
		margin: 1rem 0 0;
		padding-left: 2rem;
		padding-right: 2rem;
		background-color: rgb(0, 88, 0);
		width: auto;
		&:hover {
			background-color: green;
		}
	}
}
